
.img{
    max-height: 50vh;
    min-width: 5vh;
    justify-content: center;
}

.title{
    color: black!important;
    font-size: large;
    font-weight: bold;
}

.btn-primary{
    background-color: #fb9006!important;
    border: none!important;
}

.card-description-custom{
    color: rgb(0, 0, 0)!important;
    font-size: 15px!important;
}