<div class="modal" [class.show]="showModal" (click)="cerrarModal()">
    <div class="modal-dialog">
      <div class="modal-content">
        <!-- Contenido del modal -->
        <div class="modal-header">
          <h5 class="modal-title">Título del Modal</h5>
          <button type="button" class="close" (click)="cerrarModal()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Contenido adicional del modal -->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="cerrarModal()">Cerrar</button>
          <!-- Otros botones del pie del modal si es necesario -->
        </div>
      </div>
    </div>
  </div>