.btn.btn-primary {
    color: #fff;
    background-color: #fb9006;
    border-color: #d47800;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}.btn-primary {
    color: #fff;
    background-color: #fb9006;
    border-color: #ffaa3b;
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #fb9006;
    border-color: #d87a01;
}

.btn.btn-primary {
    color: #fff;
    background-color: #fb9006;
    border-color: #e88404;
    box-shadow: 0 2px 2px 0 rgba(156, 39, 176, 0.14), 0 3px 1px -2px rgba(156, 39, 176, 0.2), 0 1px 5px 0 rgba(156, 39, 176, 0.12);
}