.col-md-4 {
    max-width: 24.333333%!important;
}

.titulo{
    color: #030303!important;
    font-weight: bold !important;
}

h6{
    color: black;
}

.btn-primary{
    background-color: #fb9006!important;
    border: none!important;
}

.card{
    height: 93%!important;
    min-height: 93%!important;
}