<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-9">
        <div class="card">
          <div class="card-header card-header-rose card-header-icon">
            <div class="card-icon"><i class="material-icons">face</i></div>
            <h4 class="card-title">PERFIL</h4>
          </div>
          <div data-color="rose" id="wizardProfile" class="card-body card-wizard">
            <div class="row">
              <div class="col-md-12 col-sm-4 d-flex justify-content-center">
                <div class="picture-container">
                  <div class="picture">
                    <img src="./assets/img/default-avatar.png" id="wizardPicturePreview" title="" class="picture-src">
                    <input type="file" id="wizard-picture">
                  </div>
                  <h6 class="description">
                    Choose Picture
                  </h6>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 col-sm-4 d-flex justify-content-center">
                <div class="col-sm-6">
                  <div class="input-group form-control-lg mb-3">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          face
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Nombre" type="text">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          face
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Apellido" type="text">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          call
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Teléfono" type="number">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          mail
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Correo" type="email">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          password
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Contraseña" type="password">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          password
                        </i>
                      </span>
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Repetir contraseña" type="password">
                      </mat-form-field>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="material-icons">
                          transgender
                        </i>
                      </span>
                      <div class="radio-group">
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" value="masculino"> Masculino
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" value="femenino"> Femenino
                          </label>
                        </div>
                        <div class="radio">
                          <label>
                            <input type="radio" name="optionsRadios" value="otro"> Otro
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer d-flex justify-content-center">
            <button mat-raised-button="" type="submit" class="btn btn-fill btn-rose mat-raised-button mat-button-base">
              <span class="mat-button-wrapper">
                Cancelar
              </span>
              <div matripple="" class="mat-ripple mat-button-ripple">
              </div>
              <div class="mat-button-focus-overlay">
              </div>
            </button>
            <button mat-raised-button="" type="submit" class="btn btn-fill btn-rose mat-raised-button mat-button-base">
              <span class="mat-button-wrapper">
                Actualizar
              </span>
              <div matripple="" class="mat-ripple mat-button-ripple">
              </div>
              <div class="mat-button-focus-overlay">
              </div>
            </button>
            <button mat-raised-button="" type="submit" class="btn btn-fill btn-rose mat-raised-button mat-button-base">
              <span class="mat-button-wrapper">
                Eliminar usuario
              </span>
              <div matripple="" class="mat-ripple mat-button-ripple">
              </div>
              <div class="mat-button-focus-overlay">
              </div>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
