<nav color-on-scroll="500" class="navbar navbar-expand-lg bg-primary navbar-transparent navbar-absolute">
    <div class="container">
        <div class="navbar-wrapper">
            <a class="navbar-brand d-none d-sm-none d-md-block" href="#/dashboard">
               
            </a>        
        </div>
    </div>
</nav>

<div class="wrapper wrapper-full-page">
    <div filter-color="black" class="page-header login-page header-filter">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6 ml-auto mr-auto">
                    <form novalidate="" method="" action="" class="form ng-untouched ng-pristine ng-valid">
                        <div class="card card-login card-hidden">
                            <div class="card-header card-header-rose text-center">
                                <h4 class="card-title">INICIO DE SESIÓN</h4>
                                <div class="social-line">
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-facebook-square"></i>
                                    </a>                                   
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-google-plus"></i>
                                    </a> 
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-user-plus"></i>
                                    </a>
                                    <a href="#pablo" class="btn btn-just-icon btn-link btn-white">
                                        <i class="fa fa-key"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="card-body">
                                <p class="card-description text-center"></p>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">email</i>
                                            </span>
                                        </div>
                                        <input type="email" placeholder="Correo electronico" class="form-control">
                                    </div>
                                </span>
                                <span class="bmd-form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">
                                                <i class="material-icons">lock_outline</i>
                                            </span>
                                        </div>
                                        <input type="password" placeholder="Contraseña" class="form-control">
                                    </div>
                                </span>
                            </div>
                            <div class="card-footer justify-content-center">
                                <a href="#pablo" class="btn btn-rose btn-link btn-lg">INGRESAR</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <nav class="pull-left">
            <ul>
                <li><a href="#"> Creative Tim </a></li>
                <li><a href="#"> About Us </a></li>
                <li><a href="#"> Blog </a></li>
                <li><a href="#"> Licenses </a></li>
            </ul>
        </nav>
        <div class="copyright pull-right">
            © 2023, made with <i class="material-icons">favorite</i> by
            <a href="#" target="_blank">Creative Tim</a> for a better web.
        </div>
    </div>
</footer>
