<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-sm-5">
                <button mat-raised-button="" data-toggle="modal" data-target="#exampleModal"
                    (click)="verificarModelo(8)" class="btn btn-youtube mat-raised-button mat-button-base"><span
                        class="mat-button-wrapper">
                        <i class="fa fa-youtube-play"></i> Egipto - Youtube </span>
                    <div matripple="" class="mat-ripple mat-button-ripple"></div>
                    <div class="mat-button-focus-overlay"></div>
                </button>

            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://images.unsplash.com/photo-1668113399129-4b4f8520b9dc?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Templo egipcio</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 1">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion1">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            Es importante destacar que la arquitectura de los templos egipcios evolucionó a lo largo de
                            los años, y las características específicas podían variar según la época y la región en la
                            que se construyeran.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(0)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://images.unsplash.com/photo-1503177119275-0aa32b3a9368?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Pirámide</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 2">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion2">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            las pirámides egipcias eran importantes por su significado religioso, su simbolismo de
                            poder, su importancia arquitectónica y su capacidad para preservar y conservar la historia y
                            la cultura egipcias.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(1)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b7/Museo_Arqueol%C3%B3gico_Nacional_de_Espa%C3%B1a_-_Sarc%C3%B3fago.jpg/1280px-Museo_Arqueol%C3%B3gico_Nacional_de_Espa%C3%B1a_-_Sarc%C3%B3fago.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Sarcófago saíta</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 3">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion3">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            son importantes para entender el arte y la cultura del antiguo Egipto durante el período
                            saíta. Estas obras proporcionan valiosa información sobre las creencias religiosas, los
                            rituales funerarios y las prácticas culturales de esa época.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(2)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://images.unsplash.com/photo-1582729704907-f07a96126069?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">La Esfinge</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 4">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion4">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            La Gran Esfinge de Guiza es un símbolo icónico de la antigua civilización egipcia y una
                            destacada atracción turística en Egipto. Su antigüedad, diseño enigmático y asociación con
                            las pirámides de Guiza la hacen especialmente atractivas.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(3)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://media.sketchfab.com/models/e25c0cdeda154e9f83b70a4dbe1e962f/thumbnails/f5684a8b374c427caba399dc95bca59b/75cbe18f41da45e1a1e0d33f17c43937.jpeg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Cofre canópico</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 5">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion5">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            Los cofres canópicos eran elaboradas piezas de artesanía que requerían conocimientos
                            especializados en carpintería, tallado y pintura. Estos cofres eran parte integral de los
                            rituales funerarios y la creencia en la vida después de la muerte en el antiguo Egipto.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(4)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/Ob%C3%A9lisque_Louqsor_Concorde_a.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Obeliscos</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 6">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion6">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            Los obeliscos son pilares de piedra altos y delgados que solían ser erigidos en parejas
                            frente a los templos. El Obelisco Inacabado en Asuán y el Obelisco Lateranense en Roma son
                            ejemplos notables de estos monumentos.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(5)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://gobookmart.com/wp-content/uploads/2023/02/Rise-and-Fall-of-The-Egyptian-Empire-A-tale-of-Glory-and-Tragedy.jpg"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Fortalezas</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 7">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion7">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            En diferentes épocas, se construyeron fortalezas en lugares estratégicos a lo largo del Nilo
                            para defender el territorio y proteger las fronteras del antiguo Egipto. El Fuerte de
                            Babilonia en El Cairo y el Fuerte Qaitbay en Alejandría son ejemplos notables de estas
                            estructuras defensivas.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(6)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-chart">
                    <img src="https://i0.wp.com/landioustravel.com/wp-content/uploads/2021/06/Complejo-Deir-el-Bahari-e1624654697382.jpg?fit=1200%2C675&ssl=1"
                        class="card-img-top" alt="...">
                    <div class="card-body">
                        <div class="title-row">
                            <h4 class="card-title">Templos funerarios</h4>
                            <ng-container *ngFor="let item of construcciones; let i = index">
                                <ng-container *ngIf="item.estado === 1 && item.id_leccion === 8">
                                    <span class="badge badge-success align-right"><i
                                            class="material-icons">verified</i>Visto</span>
                                </ng-container>
                            </ng-container>
                            <ng-container *ngIf="encontradaLeccion8">
                                <span class="badge badge-warning align-right"><i
                                        class="material-icons">report</i>Pendiente</span>
                            </ng-container>
                        </div>
                        <p class="card-category">
                            Junto a las pirámides, se construyeron templos funerarios que servían como lugares de culto
                            y adoración para los faraones. El Templo del Valle de Keops y el Templo del Valle de
                            Hatshepsut son ejemplos notables de estos templos asociados con las pirámides.
                        </p>
                    </div>
                    <div class="card-footer" style="display: flex; justify-content: center;">
                        <div class="stats" style="align-items: center;">
                            <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal"
                                (click)="verificarModelo(7)">
                                <i _ngcontent-ptt-c107="" _ngcontent-dfa-c50="" class="material-icons" style="
                                    top: 0px !important;
                                    font-size: 21px !important;
                                ">view_in_ar</i> MODELO 3D
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-xl" id="exampleModal" tabindex="-1" role="dialog"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{ titulo }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="embed-responsive embed-responsive-16by9" id="iframeContainer">
                    <iframe class="embed-responsive-item" frameborder="0" src="" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>