<div class="main-content">
    <div class="container-fluid">
        <div class="header text-center">
            <h3 class="title">EXPLORACION 3D</h3>
            <p class="category">Conociendo el mundo<a target="_blank"
                    href="https://threejs.org/">Threejs</a></p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-plain">
                    <div class="card-body">
                        <div class="iframe-container d-none d-lg-block">
                            <iframe src="https://sketchfab.com/models/ffd5ddfa1dc84ce782e4860ff4724293/embed?autostart=1&internal=1&tracking=0&ui_infos=0&ui_snapshots=1&ui_stop=0&ui_watermark=0">
                                <p>Your browser does not support iframes.</p>
                            </iframe></div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>