<!-- Gallery -->
<div class="main-content">
    <div class="row">
        <div class="col-lg-2 col-md-12 mb-4 mb-lg-0">
            <img src="./assets/criaturas/uraeus/1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

            <img src="./assets/criaturas/uraeus/3.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

                <img src="./assets/mitos_historias/el_mito_de_nut/3.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-2 mb-4 mb-lg-0">
            <img src="./assets/mitos_historias/osiris_y_su_asesinato_por_su_hermano_set/1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />

            <img src="./assets/img/img-arquitectura/img-simbel/Simbel_3.jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

                <img src="./assets/proceso_construcciones/seleccion_personal/1.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-2 mb-4 mb-lg-0">
            <img src="./assets/mitos_historias/juicio_de_osiris/2.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

            <img src="./assets/mitos_historias/juicio_de_osiris/3.png" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />

                <img src="./assets/mitos_historias/juicio_de_osiris/4.png" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />
        </div>
        <div class="col-lg-2 mb-4 mb-lg-0">
            <img src="./assets/mitos_historias/osiris_y_su_asesinato_por_su_hermano_set/2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />

            <img src="./assets/img/img-arquitectura/img-simbel/Simbel_1.jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

                <img src="./assets/img/img-arquitectura/img-simbel/Simbel_2.jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-2 col-md-12 mb-4 mb-lg-0">
            <img src="./assets/img/img-arquitectura/img-simbel/Simbel_3.jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />

            <img src="./assets/criaturas/griffon/3.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Wintry Mountain Landscape" />

                <img src="./assets/img/img-arquitectura/img-giza/giza_2.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Boat on Calm Water" />
        </div>
        <div class="col-lg-2 mb-4 mb-lg-0">
            <img src="./assets/dioses/anubis/3.jpg" class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

            <img src="./assets/img/img-arquitectura/img-karnak/karnak_2.jpeg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Yosemite National Park" />

                <img src="./assets/criaturas/bennu.jpg" class="w-100 shadow-1-strong rounded mb-4"
                alt="Mountains in the Clouds" />
        </div>
    </div>
</div>
<!-- Gallery -->