<!-- Gallery -->
<div class="main-content">
    <div class="row">
        <div class="col-lg-3">
            <!--img [src]="currentImage" class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" style="width: 100% !important; height: 235px!important;" /-->
            <img [src]="imageUrls1[currentImageIndex4]" class="w-100 shadow-1-strong rounded mb-4  transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 235px!important;" />
            <img [src]="imageUrls2[currentImageIndex1]" class="w-100 shadow-1-strong rounded mb-4  transition-img2"
                alt="Wintry Mountain Landscape" style="width: 100% !important; height: 513px !important;" />
        </div>

        <div class="col-lg-3">
            <img [src]="imageUrls1[currentImageIndex5]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 241px!important;" />
            <img [src]="imageUrls1[currentImageIndex6]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 241px!important;" />
            <img [src]="imageUrls1[currentImageIndex7]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 241px!important;" />
        </div>

        <div class="col-lg-3">
            <img [src]="imageUrls2[currentImageIndex2]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Wintry Mountain Landscape" style="width: 100% !important; height: 513px !important;" />
            <img [src]="imageUrls1[currentImageIndex8]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 235px!important;" />
        </div>
        <div class="col-lg-3">
            <img [src]="imageUrls2[currentImageIndex3]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Wintry Mountain Landscape" style="width: 100% !important; height: 513px !important;" />
            <img [src]="imageUrls1[currentImageIndex8]" class="w-100 shadow-1-strong rounded mb-4 transition-img2"
                alt="Boat on Calm Water" style="width: 100% !important; height: 235px!important;" />
        </div>
    </div>


    <!-- Repite el patrón para las siguientes filas -->
</div>
<!-- Gallery -->